.container {
  padding: 10%;
}
.container form {
  margin: 5% auto;
  text-align: center;
}

.container form input {
  font-size: 16px;
  margin: 10px 16px;
  padding: 10px;
}

.container label {
  font-size: 1.5rem;
}

.container button {
  border-style: none;
  text-align: center;
  padding: 10px 16px;
  font-size: 1rem;
  margin: 16px auto;
  background-color: #4caf50;
  color: beige;
}
